@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800');
/* Lato WebFont */
@font-face {
    font-family: 'Lato-Light',sans-serif;
    src: url('font/Lato-Light.eot');
    src: url('font/Lato-Light.eot?#iefix') format('embedded-opentype'),
    url('font/Lato-Light.woff2') format('woff2'),
    url('font/Lato-Light.woff') format('woff'),
    url('font/Lato-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Lato-Regular',sans-serif;
    src: url('font/Lato-Regular.eot');
    src: url('font/Lato-Regular.eot?#iefix') format('embedded-opentype'),
    url('font/Lato-Regular.woff2') format('woff2'),
    url('font/Lato-Regular.woff') format('woff'),
    url('font/Lato-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Lato-Bold',sans-serif;
    src: url('font/Lato-Bold.eot');
    src: url('font/Lato-Bold.eot?#iefix') format('embedded-opentype'),
    url('font/Lato-Bold.woff2') format('woff2'),
    url('font/Lato-Bold.woff') format('woff'),
    url('font/Lato-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

/* Nanum Barun Gothic WebFont */
@font-face {
    font-family: 'Nanum Barun Gothic';
    src: url('font/NanumBarunGothicLight.eot');
    src: url('font/NanumBarunGothicLight.eot?#iefix') format('embedded-opentype'),
    url('font/NanumBarunGothicLight.woff2') format('woff2'),
    url('font/NanumBarunGothicLight.woff') format('woff'),
    url('font/NanumBarunGothicLight.ttf') format('truetype');
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'Nanum Barun Gothic';
    src: url('font/NanumBarunGothic.eot');
    src: url('font/NanumBarunGothic.eot?#iefix') format('embedded-opentype'),
    url('font/NanumBarunGothic.woff2') format('woff2'),
    url('font/NanumBarunGothic.woff') format('woff'),
    url('font/NanumBarunGothic.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Nanum Barun Gothic';
    src: url('font/NanumBarunGothicBold.eot');
    src: url('font/NanumBarunGothicBold.eot?#iefix') format('embedded-opentype'),
    url('font/NanumBarunGothicBold.woff2') format('woff2'),
    url('font/NanumBarunGothicBold.woff') format('woff'),
    url('font/NanumBarunGothicBold.ttf') format('truetype');
    font-style: normal;
    font-weight: 700;
}
/* Noto Sans(100,300,400,500,700) */
@font-face {
    font-family: 'Noto Sans',sans-serif;
    font-style: normal;
    font-weight: 100;
    src: url('font/NotoSansKR-Thin.woff2') format('woff2'),
    url('font/NotoSansKR-Thin.woff') format('woff'),
    url('font/NotoSansKR-Thin.otf') format('opentype');
}

@font-face {
    font-family: 'Noto Sans',sans-serif;
    font-style: normal;
    font-weight: 300;
    src: url('font/NotoSansKR-Light.woff2') format('woff2'),
    url('font/NotoSansKR-Light.woff') format('woff'),
    url('font/NotoSansKR-Light.otf') format('opentype');
}

@font-face {
    font-family: 'Noto Sans',sans-serif;
    font-style: normal;
    font-weight: 400;
    src: url('font/NotoSansKR-Regular.woff2') format('woff2'),
    url('font/NotoSansKR-Regular.woff') format('woff'),
    url('font/NotoSansKR-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Noto Sans',sans-serif;
    font-style: normal;
    font-weight: 500;
    src: url('font/NotoSansKR-Medium.woff2') format('woff2'),
    url('font/NotoSansKR-Medium.woff') format('woff'),
    url('font/NotoSansKR-Medium.otf') format('opentype');
}

@font-face {
    font-family: 'Noto Sans',sans-serif;
    font-style: normal;
    font-weight: 700;
    src: url('font/NotoSansKR-Bold.woff2') format('woff2'),
    url('font/NotoSansKR-Bold.woff') format('woff'),
    url('font/NotoSansKR-Bold.otf') format('opentype');
}

/* ////////////  글꼴 지정 스타일 ///////////// */
@font-face {
  font-family: 'Nanum Gothic',sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url(http://themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v4/NanumGothic-Regular.eot);
  src: url(http://themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v4/NanumGothic-Regular.eot?#iefix) format('embedded-opentype'),
       url(http://themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v4/NanumGothic-Regular.woff2) format('woff2'),
       url(http://themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v4/NanumGothic-Regular.woff) format('woff'),
       url(http://themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v4/NanumGothic-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'NMB',sans-serif;
  font-style: normal;
  font-weight: 600;
  src: url(http://fonts.gstatic.com/ea/nanummyeongjo/v4/NanumMyeongjo-Bold.eot);
  src: url(http://fonts.gstatic.com/ea/nanummyeongjo/v4/NanumMyeongjo-Bold.eot?#iefix) format('embedded-opentype'),
       url(http://fonts.gstatic.com/ea/nanummyeongjo/v4/NanumMyeongjo-Bold.woff2) format('woff2'),
       url(http://fonts.gstatic.com/ea/nanummyeongjo/v4/NanumMyeongjo-Bold.woff) format('woff'),
       url(http://fonts.gstatic.com/ea/nanummyeongjo/v4/NanumMyeongjo-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'NMEB',sans-serif;
  font-style: normal;
  font-weight: 700;
  src: url(http://fonts.gstatic.com/ea/nanummyeongjo/v4/NanumMyeongjo-ExtraBold.eot);
  src: url(http://fonts.gstatic.com/ea/nanummyeongjo/v4/NanumMyeongjo-ExtraBold.eot?#iefix) format('embedded-opentype'),
       url(http://fonts.gstatic.com/ea/nanummyeongjo/v4/NanumMyeongjo-ExtraBold.woff2) format('woff2'),
       url(http://fonts.gstatic.com/ea/nanummyeongjo/v4/NanumMyeongjo-ExtraBold.woff) format('woff'),
       url(http://fonts.gstatic.com/ea/nanummyeongjo/v4/NanumMyeongjo-ExtraBold.ttf) format('truetype');
}

/*
* Nanum Gothic (Korean) http://www.google.com/webfonts/earlyaccess
*/

@font-face {
  font-family: 'Nanum GothicEB',sans-serif;
  font-style:  normal;
  font-weight: 800;
  src: url(http://themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v4/NanumGothic-ExtraBold.eot);
  src: url(http://themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v4/NanumGothic-ExtraBold.eot?#iefix) format('embedded-opentype'),
       url(http://themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v4/NanumGothic-ExtraBold.woff2) format('woff2'),
       url(http://themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v4/NanumGothic-ExtraBold.woff) format('woff'),
       url(http://themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v4/NanumGothic-ExtraBold.ttf) format('truetype');
}
.font_sample {
  font-size: 50px;
}
.lato_l {
  font-family: 'Lato-Light',sans-serif;
}
.lato_r {
  font-family: 'Lato-Regular',sans-serif;
}
.lato_b {
  font-family: 'Lato-Bold',sans-serif;
}
.Nanum_BG {
  font-family: 'Nanum Barun Gothic';

}
.Nanum_BG:nth-child(1) {
  font-weight: 300;
}
.Nanum_BG:nth-child(2) {
  font-weight: 400;
}
.Nanum_BG:nth-child(3) {
  font-weight: 700;
}
.Noto_Sans {
  font-family: 'Noto Sans',sans-serif;
}
.Noto_Sans:nth-child(1) {
  font-weight: 300;
}
.Noto_Sans:nth-child(2) {
  font-weight: 400;
}
.Noto_Sans:nth-child(3) {
  font-weight: 500;
}
.Noto_Sans:nth-child(4) {
  font-weight: 700;
}
.Nanum_Gothic {
font-family: 'Nanum Gothic', sans-serif;
}
.Nanum_Gothic:nth-child(1) {
  font-weight:400;
}
.Nanum_Gothic:nth-child(2) {
  font-weight:600;
}
.Nanum_Gothic:nth-child(3) {
  font-weight:700;
}
