/* reset.css 내용 */

body { font: 0.8em/1.4 "나눔 고딕", "Nanum Gothic", "돋움", Dotum, Sans-Serief; color: #555;overflow-x: hidden;overflow-y: auto; }

* 	{ margin:0; padding:0;box-sizing: border-box;}


table, input, textarea, select, button{  font: 1em/1.4 "나눔 고딕", "NanumGothic", "돋움", Dotum, Sans-Serief; color: #555;  }

/* HTML5 새 요소 초기화 */
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

em, address { font-style:normal; }
img { border:0; vertical-align:top; }
ul { list-style:none; vertical-align:top; }
ol { list-style:none; }
li { vertical-align:top; }
li img	{ vertical-align:top; }
table	{ border-collapse:collapse; border-spacing:0; }
table	caption { display:none; }
fieldset { border:0; }
legend  { display:none; }
input, select{ vertical-align:middle; }
h1, h2, h3, h4, h5, h6	{ font-size:1em; }
a:link, a:visited { color:#fff; text-decoration:none;}
a:hover, a:active { color:#444; text-decoration:underline;}
a:active, a:focus { outline: 0;}
hr { display:none; height:0; }

.select_type{ padding: 2px; border:1px solid #d4d4d4; }
.content_text{ font-size: 12px; }
.hidden { display:none; position:absolute; font-size:0; width:0; height:0; line-height:0; background:none; }
.blind  { text-indent:-2000px; overflow:hidden; display:none; }
